* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
  }
  
  .header-point {
    height: 110vh;
    background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.582), rgba(24, 24, 24, 0.377)), url(../assets/img/fruits.jpg);
    background-size: cover;
    background-position: bottom;
    color: white;
    clip-path: polygon(0 13%, 100% 0%, 100% 83%, 0% 100%);}
  
  .logo-box {
    position: absolute;
    top: 70px;
    left: 70px; }
  
  .logo {
    height: 35px; }
  
  .text-box {
    position: absolute;
    top: 48%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center; }
  
  .heading-primary-point {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 43px; }
  
  .heading-primary-point {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    transform: translateX(-6.8px); }
  
.card{
  width: 20%;
  height: 40%;
  border-radius: 30px;
  background-color: #fff;
  margin-left: 30px;
  margin-top: 45px;
  padding: 10px;
}

.card h4{
  color: black;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.card p{
  color: #777;
  display: inline-block;
  text-align: center;

}